#MyUIMain{
         width: 100%;
         height:100%;
}
  
@keyframes 'contentAnimation'
{
         0%
         {
                   opacity: 0;
                   transform:translateY(5px);
         }
}
  
#content{
         flow-children:down;
         horizontal-align:center;
         vertical-align:center;
         background-color: #00454D;
         animation-name:contentAnimation;
         animation-duration:0.3s;
}
  
#title{
         margin: 10px;
         color: #FFE406;
         font-size: 25px;
}

#buttons{
         flow-children:right;
}
  
.buttonStyle{
         border: 1px solid #aaaaaa;
         padding: 10px;
         margin: 10px;
         color: #1FCD00;
         font-size: 50px;
}
  
.buttonStyle:hover{
         border: 1px solid #eeeeee;
}